<%= form_with(model: @schedule, url: schedules_path) do |form| %>
  <%= form.label :schedule_date %>
  <%= form.datetime_field :schedule_date, options: { use_month_numbers: true } %>
  <p></p>
  <%= form.label :schedule_content %>
  <%= form.text_area :schedule_content %>
  <p></p>
  <%= form.submit 'スケジュールを作成する' %>
<% end %>