<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-md-2 pl-3">
      <h2>Schedules Edit</h2>
      <%= render 'public/users/info', user: current_user %>
      <%= link_to my_page_edit_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %></br>
      <p></p>
      <%= render 'public/schedules/form', schedule: @schedule %></br>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <%= form_with(model: @schedule, url: user_schedule_path(current_user, @schedule), local: true) do |f| %>
        <% if @schedule.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

            <ul>
            <% @schedule.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :schedule_date %>
          <%= f.datetime_field :schedule_date, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :schedule_content %>
          <%= f.text_area :schedule_content, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>