<h1>スケジュール一覧</h1>

<ul>
  <% @schedules.each do |schedule| %>
    <li>
      <%= schedule.schedule_date %>
      <%= schedule.schedule_content %>
      <%= schedule.published_at %>
      <%= link_to '編集', edit_schedule_path(schedule) %>
      <%= link_to '削除', schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'スケジュール作成', new_schedule_path %>
