<h3>スケジュール一覧</h3>

<ul>
  <% @schedules.each do |schedule| %>
    <li>
      <%= schedule.schedule_date.strftime('%Y/%m/%d %H:%M') %>
      <%= schedule.schedule_content %>
      <%= schedule.published_at %>
      <%= link_to '詳細', user_schedule_path(current_user, schedule) %>
      <%= link_to '編集', edit_user_schedule_path(current_user, schedule) %>
      <%= link_to '削除', user_schedule_path(current_user, schedule), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>

<%= render 'public/schedules/form' %>

<%= link_to 'User Infoへ戻る', my_page_path %>