<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-md-2 pl-3">
      <h3>スケジュール詳細</h3>
      <%= render 'public/users/info', user: current_user %>
      <%= link_to my_page_edit_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %></br>
      <p></p>
      <%= render 'public/schedules/form', schedule: @schedule %></br>
      <%= link_to "Schedules List", user_schedules_path(current_user), class: "blue-button" %></br>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-9">
      <%= @schedule.schedule_date.strftime('%Y/%m/%d %H:%M') %></br>
      作成者: <%#= @schedule.user.last_name + @schedule.user.first_name %></br>
      作成者: <%= User.find(@schedule.user_id).last_name + User.find(@schedule.user_id).first_name %></br>
      内　容：<%= @schedule.schedule_content %></br>

      <%= link_to '編集', edit_user_schedule_path(current_user, @schedule) %></br>
      <%= link_to '削除', user_schedule_path(@schedule.user_id, @schedule.id), method: :delete, local: true, data: { confirm: '本当に削除しますか？' } %>
    </div>
  </div>
</div>
