<div class="search">
  <%= form_with(url: search_path, method: :get, local: true) do |form| %>
    <%= form.text_field :query, placeholder: '会員ID検索' %>
    <%= form.submit '検索する' %>
  <% end %>
</div>

<% if @users.present? %>
  <h3>検索結果</h3>
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>名前</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.membership_id %></td>
          <td><%= "#{user.last_name} #{user.first_name}" %></td>
          <% if user.profile_image.attached? %>
            <td><%= image_tag url_for(user.profile_image), size: "100x100" %></td>
          <% else %>
            <td><%= image_tag "no_image.jpg", size: "100x100" %></td>
          <% end %>
          <td>
            <%= render 'public/relationships/button', user: user %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーが見つかりませんでした。</p>
<% end %>


<%= link_to 'Usersへ戻る', my_page_path %>