<table class='table'>
  <tr>
    <% if user.profile_image.attached? %>
      <%= image_tag url_for(user.profile_image), size: "75x75" %>
    <% else %>
      <%= image_tag "no_image.jpg", size: "75x75" %>
    <% end %>
  </tr>
  <tr>
    <th>会員ID</th>
    <th><%= user.membership_id %></th>
    <th><%= render 'public/relationships/button', user: user %></th>
  </tr>
  <tr>
    <th>ユーザー名</th>
    <th><%= "#{user.last_name}#{user.first_name}" %></th>
    <th></th>
  </tr>
</table>
