<h1>Users</h1>
<p>This is the users index page.</p>

<div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>


<% if @info.present? %>
  <%= render partial: 'public/users/info', locals: { user: @info } %>
<% end %>

<%= link_to "ユーザー編集画面", my_page_edit_path%>

<%= render partial: 'public/searches/search', locals: { url: search_path } %>


<!--追加記述-->
<% @users.each do |user| %>
  <%= user.membership_id %>
  <%= "#{user.last_name}#{user.first_name}" %>
<% end %>

<%= render 'public/schedules/form', schedule: @schedule %>
